.container {
	width: 90%;
	margin: 0 auto;
	background: pink;
}
.cont1 {
	width: 15%;
	background-color: red;
	float: left;
	height: 100%;
	padding-bottom: 20px;
}
.cont2 {
	width: 84%;
	/*background-color: blue;*/
	float: right;
}
#contact {
	background-color: green;
}
.col-1-3 {
	display: inline-block;
	width: 30%;
	background-color: cyan;
	float: left;
	clear: right;
	margin-left: 10px;
	margin-right: 20px;
	margin-bottom: 10px;

}
.col-2-3 {
	display: inline-block;
	width: 65%;
	background-color: #cef2d5;
/*	height: 300px;
*/	background-image: url(../images/page_image.jpg);
	padding-bottom: 300px;
}
table {
	border-collapse: collapse;
	height: 90%;
	padding-bottom: 20px;
}
td {

	color: white;
	border-bottom: 1px solid white;
	padding: 20px 20px;
}
.size {
	width: 100%;
	padding-top: 10px;
}
.list {
	padding-bottom: 50px;
}
.foot {
	text-align: left;
	margin-bottom: 55px;
	font-size: 50px;
	font-weight: 400;
}