li {
	list-style-type: upper-roman;
}
.sub {
	list-style-type: decimal;
	list-style-position: inside;
}
.mark {
	list-style-type: square;
}
.point {
	list-style-type: disc;
}
ol {
	border: solid darkred;
	display: inline-block;
	width: 50%;
	padding: 20px auto;
}